.card {
    background: var(--blue);
    border-radius: 5px;
    overflow: hidden;
}

.avatar-container {
    overflow: hidden;
}

.avatar {
    width: 100%;
    transition: ease-in-out 200ms;
}

.avatar-container, .avatar {
    border-radius: 0 0 30% 30%;
}

.avatar:hover {
    transform: scale(1.2);
}

.login {
    padding: 1em;
    color: var(--pink);
}

.login a{
    text-decoration: none;
    color: #fff;
}