.controls {
    height: 10vh;
    background: var(--background-color);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
}

li {
    margin: 0 1em;
    list-style: none;
    font-size: 1em;
}

.icon {
    font-size: 2em;
}

li, .icon {
    cursor: pointer;
    color: var(--dark-blue);
}