@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --background-color: #DADDFC;
  --pink: #FC997C;
  --blue: #396EB0;
  --dark-blue: #2E4C6D;
}